# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
tmp
dist

# dependencies
jspm_packages
node_modules

# IDEs and editors

# misc
typings
npm-debug.log
npm-debug.log.*
app.constants.ts

# System Files
.DS_Store
Thumbs.db
